.ImageSlideshow{
width:1000px;
height : 300px;
background-color:#000000;
margin-left: auto;
margin-right: auto;
margin-top: 3px;
}

#slide{
width:995px;
height : 295px;
position:relative;
}

#ImageSlidesTable{

}
