<html>
<head>
<link rel="stylesheet" type="text/css" href="css/Header.css" />
<link rel="stylesheet" type="text/css" href="css/error.css">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/HeaderTemplate.js"></script>
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div id="header"></div>
	<br/>
	<input type="button" value="Home" onclick="window.location='FacultyHome.html';"/>
	<br/>
	<h2>Question added to the system successfully..</h2>
	</body>
	</html>